<a href="https://colab.research.google.com/github/kd365/faafall22/blob/hill/cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NTSB Cleaning Notebook

## Steps:
1. Import libraries and raw data
2. Initial column drops
3. Cleaning steps that wil apply to entire dataframe
4. Cleaning each column

**Cleaning Plan:**
Hunter:
- cols 0-22
Kathleen:
- col 23-45
Eric:
- col 46-68
Chi:
- col 69-85

### 1. Import libraries

In [1]:
from google.colab import files
import pandas as pd

uploaded = files.upload()

Saving NTSB_for_cleaning_total.csv to NTSB_for_cleaning_total.csv

In [ ]:
import re

In [2]:
# setting pandas display options
pd.set_option('display.max_rows', 150)

# reading in NTSB csv file
ntsb_raw = pd.read_csv("NTSB_for_cleaning_total.csv", encoding='latin-1', low_memory=False)
ntsb_raw = ntsb_raw.drop(['engines_ev_id', 'events_ev_id', 'Unnamed: 0'], axis=1)
# view the dataframe info
ntsb_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104120 entries, 0 to 104119
Data columns (total 86 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   aircraft_ev_id         104120 non-null  object
 1   far_part               104120 non-null  object
 2   flight_plan_activated  45517 non-null   object
 3   damage                 103326 non-null  object
 4   acft_make              104108 non-null  object
 5   acft_model             104096 non-null  object
 6   cert_max_gr_wt         93685 non-null   float64
 7   num_eng                102746 non-null  float64
 8   type_last_insp         99030 non-null   object
 9   date_last_insp         83764 non-null   object
 10  afm_hrs_last_insp      58888 non-null   float64
 11  afm_hrs                84919 non-null   float64
 12  type_fly               100532 non-null  object
 13  dprt_apt_id            85958 non-null   object
 14  dprt_city              88866 non-null   object
 15  dprt_state             89162 non-null   object
 16  dprt_time              94605 non-null   float64
 17  dest_same_local        34112 non-null   object
 18  dest_apt_id            71722 non-null   object
 19  dest_city              74822 non-null   object
 20  dest_state             75078 non-null   object
 21  phase_flt_spec         51969 non-null   float64
 22  afm_hrs_since          59743 non-null   object
 23  rwy_num                77801 non-null   object
 24  rwy_len                64245 non-null   float64
 25  rwy_width              63263 non-null   float64
 26  ifr_equipped_cert      104120 non-null  bool
 27  eng_no                 103670 non-null  float64
 28  eng_type               103258 non-null  object
 29  eng_mfgr               102470 non-null  object
 30  hp_or_lbs              98580 non-null   object
 31  carb_fuel_injection    86604 non-null   object
 32  eng_time_total         51578 non-null   float64
 33  eng_time_last_insp     51578 non-null   float64
 34  ntsb_no                104120 non-null  object
 35  ev_type                104120 non-null  object
 36  ev_date                104120 non-null  object
 37  ev_dow                 104120 non-null  object
 38  ev_time                104035 non-null  float64
 39  ev_city                104114 non-null  object
 40  ev_state               103812 non-null  object
 41  ev_year                104120 non-null  int64
 42  ev_month               104120 non-null  int64
 43  latitude               60230 non-null   object
 44  longitude              60231 non-null   object
 45  apt_name               72793 non-null   object
 46  ev_nr_apt_id           69801 non-null   object
 47  ev_nr_apt_loc          102547 non-null  object
 48  apt_dist               87657 non-null   float64
 49  apt_dir                46753 non-null   float64
 50  apt_elev               74371 non-null   float64
 51  wx_src_iic             102501 non-null  object
 52  wx_obs_time            98591 non-null   float64
 53  wx_obs_dir             101520 non-null  float64
 54  wx_obs_fac_id          82383 non-null   object
 55  wx_obs_elev            94869 non-null   float64
 56  wx_obs_dist            101940 non-null  float64
 57  light_cond             103997 non-null  object
 58  sky_cond_nonceil       94823 non-null   object
 59  sky_nonceil_ht         97868 non-null   float64
 60  sky_ceil_ht            97549 non-null   float64
 61  sky_cond_ceil          100149 non-null  object
 62  vis_rvr                42792 non-null   float64
 63  vis_sm                 102787 non-null  float64
 64  wx_temp                100236 non-null  float64
 65  wx_dew_pt              92593 non-null   float64
 66  wind_dir_deg           102898 non-null  float64
 67  wind_dir_ind           103617 non-null  object
 68  wind_vel_kts           93150 non-null   float64
 69  wind_vel_ind           104079 non-null  object
 70  gust_ind               104100 non-null  object
 71  gust_kts               96906 non-null   float64
 72  altimeter              91137 non-null   float64
 73  wx_dens_alt            19070 non-null   float64
 74  wx_int_precip          42863 non-null   object
 75  ev_highest_injury      104033 non-null  object
 76  inj_tot_t              76097 non-null   float64
 77  wx_cond_basic          104078 non-null  object
 78  Cause_Factor           43521 non-null   object
 79  crew_no                51448 non-null   float64
 80  crew_category          50990 non-null   object
 81  crew_age               49235 non-null   float64
 82  crew_sex               37326 non-null   object
 83  med_certf              48872 non-null   object
 84  pilot_flying           103551 non-null  object
 85  crew_inj_level         50327 non-null   object
dtypes: bool(1), float64(33), int64(2), object(50)
memory usage: 67.6+ MB

### 2. Initial Drop

In [3]:
# drop all records that do not have at least 50 columns worth of data in them
ntsb_raw = ntsb_raw.dropna(thresh=50)

In [ ]:
# view data
ntsb_raw.head()

,aircraft_ev_id,far_part,flight_plan_activated,damage,acft_make,acft_model,cert_max_gr_wt,num_eng,type_last_insp,date_last_insp,...,inj_tot_t,wx_cond_basic,Cause_Factor,crew_no,crew_category,crew_age,crew_sex,med_certf,pilot_flying,crew_inj_level
0,20001204X00000,135,NaN,SUBS,Cessna,207,3800.0,1.0,100H,12/16/1998,...,1.0,VMC,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
1,20001204X00004,135,NaN,SUBS,Cessna,207,3800.0,1.0,AAIP,12/14/1998,...,NaN,VMC,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2,20001204X00005,091,NaN,SUBS,Piper,PA-22-160,1840.0,1.0,ANNL,3/14/1998,...,NaN,VMC,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
3,20001204X00006,091,NaN,DEST,Beech,300,14100.0,2.0,AAIP,1/14/1999,...,2.0,IMC,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
4,20001204X00007,091,NaN,DEST,Piper,PA-28-181,2550.0,1.0,UNK,NaN,...,1.0,VMC,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN

In [4]:
# drop any columns that have more than 40% null values
total_rows = ntsb_raw.shape[0]

def drop_cols(df, df_size):
    # create a list of columns to drop
    drop = []
    # iterate over each column
    for x in df.columns:
        #determine if the ratio of nulls is greater than 30%
        ratio = (df[x].isna().sum()) / df_size
        if ratio > 0.5:
            drop.append(x)
    # drop the columns in the drop list
    df.drop(labels=drop, axis=1)
    print('Cols dropped from df:', drop)
    return df

ntsb_dropped_cols = drop_cols(ntsb_raw, total_rows)

Cols dropped from df: ['flight_plan_activated', 'dest_same_local', 'phase_flt_spec', 'eng_time_total', 'eng_time_last_insp', 'apt_dir', 'vis_rvr', 'wx_dens_alt', 'wx_int_precip', 'Cause_Factor', 'crew_no', 'crew_category', 'crew_age', 'crew_sex', 'med_certf', 'crew_inj_level']

In [5]:
print(ntsb_dropped_cols.shape)

(104120, 86)

## 3. Cleaning that applies to entire data set

In [6]:
# need to delete duplicate records
ntsb_dropped_cols = ntsb_dropped_cols.drop_duplicates(subset='aircraft_ev_id')

In [7]:
# function to initially clean up all strings in df
def df_string_transform(df):
    ''' 
    force all text data to lowercase and strip left and right side of strings
    in all string columns

    args: dataframe

    returns: dataframe
    '''
    df1 = df.applymap(lambda x: x.lower() if type(x) == str else x)
    df1 = df1.applymap(lambda x: x.strip() if type(x) == str else x)
    return df1

In [8]:
# applying the funcrition from above
ntsb_1 = df_string_transform(ntsb_dropped_cols)

In [9]:
print(ntsb_1.shape)

(61705, 86)

**NOTE**: for section 3 use the dataframe `ntsb_1` for cleaning

### 3. Cleaning Each Column

In [10]:
# function to show all the metrics you will want to see for each column
def col_metrics(df, col='none'):
  print('Unique data: ', df[col].unique())
  print('Value counts: ', df[col].value_counts())
  print('Total nulls: ', df[col].isna().sum())
  print('Data type: ', df[col].dtypes)

### HUNTER'S SECTION

In [ ]:
# column 1: far part
col_metrics(ntsb_1, col='far_part')      

# making a copy of the data set as ntsb_1
ntsb_1 = pd.DataFrame.copy(ntsb_1)

# remove the K and F from part 091
ntsb_1['far_part'] = ntsb_1['far_part'].str.replace('k', '').str.replace('f', '').str.replace('arm', '091')
print(ntsb_1['far_part'].unique())

Unique data:  ['135' '091' '137' '103' 'armf' '091f' '091k' '437']
Value counts:  091     55126
137      3407
135      2988
103       130
091f       35
091k       12
armf        6
437         1
Name: far_part, dtype: int64
Total nulls:  0
Data type:  object
['135' '091' '137' '103' '437']

In [ ]:
# column 2: 'flight_plan_activated'
col_metrics(ntsb_1, 'flight_plan_activated')

# dropping this column, too many nulls, and filing a flight plan is superfluous 
#because you can file in flight or you can use flight following
ntsb_1 = ntsb_1.drop(['flight_plan_activated'], axis=1)

Unique data:  [nan 'y' 'n' 'u']
Value counts:  n    12307
y     3188
u      354
Name: flight_plan_activated, dtype: int64
Total nulls:  45856
Data type:  object

In [ ]:
# column 3: 'damage'
col_metrics(ntsb_1, 'damage')

# change the unk to none
ntsb_1['damage'] = ntsb_1['damage'].str.replace('unk', 'none')
# drop the 491 rows that do not have a damage listing
ntsb_1 = ntsb_1.dropna(subset='damage')
print('final null count:', ntsb_1['damage'].isna().sum())

Unique data:  ['subs' 'dest' 'none' 'minr' 'unk' nan]
Value counts:  subs    46690
dest    13612
minr      963
none      330
unk         9
Name: damage, dtype: int64
Total nulls:  101
Data type:  object
final null count: 0

In [ ]:
# column 4: 'acft_make'
col_metrics(ntsb_1, 'acft_make')

# there are 6 rosw with nulls, will drop those
ntsb_1 = ntsb_1.dropna(subset=['acft_make'])
print(ntsb_1['acft_make'].isna().sum())

Unique data:  ['cessna' 'piper' 'beech' ... 'gerald nelson' 'gonzalez manuel a'
 'harris-runyan']
Value counts:  cessna             21141
piper              11468
beech               4212
bell                1513
mooney              1073
                   ...
quinn aviation         1
larry robbins          1
polliwagen inc.        1
woolsey                1
harris-runyan          1
Name: acft_make, Length: 5657, dtype: int64
Total nulls:  10
Data type:  object
0

In [ ]:
#if an aircraft make is not in the top 30, it will be categorized as other. 
acft_top_20 = ntsb_1['acft_make'].value_counts()[0:30].index.tolist()

ntsb_1['acft_make'] = ntsb_1['acft_make'].map(lambda x: 'other_make' if x not in acft_top_20 else x)

print(ntsb_1['acft_make'].value_counts())

cessna            21141
other_make        15091
piper             11468
beech              4212
bell               1513
mooney             1073
grumman             922
bellanca            860
robinson            602
hughes              571
schweizer           522
aeronca             487
maule               442
champion            394
air tractor         389
stinson             336
boeing              332
luscombe            327
aero commander      319
taylorcraft         300
north american      293
Name: acft_make, dtype: int64

In [ ]:
# column 5: 'acft_model'
col_metrics(ntsb_1, 'acft_model')

# drop the 5 rows that have nulls
ntsb_1 = ntsb_1.dropna(subset=['acft_model'])

Unique data:  ['207' 'pa-22-160' '300' ... 'rv 7' 'f4u 5' 'skybolt 300']
Value counts:  152            2014
172            1091
172n            967
pa-28-140       810
172m            672
               ...
m6235             1
j-3br503          1
a-98              1
vega-1            1
skybolt 300       1
Name: acft_model, Length: 8264, dtype: int64
Total nulls:  21
Data type:  object

In [ ]:
# column 5

# remove the letters off the cessna model
pattern = r'\d\d\d\w'
ntsb_1['acft_model'] = ntsb_1['acft_model'].map(lambda x: re.sub(pattern, lambda match: match.group()[:-1], x))
print(ntsb_1['acft_model'].value_counts())

#if an aircraft make is not in the top 30, it will be categorized as other. 
model_top_30 = ntsb_1['acft_model'].value_counts()[0:30].index.tolist()

# change the model names to 'other_model' if not in the top 30
ntsb_1['acft_model'] = ntsb_1['acft_model'].map(lambda x: 'other_model' if x not in model_top_30 else x)

172                  4756
150                  2658
152                  2030
182                  1995
pa-28-140             830
                     ...
type 43 series 3f       1
7gca                    1
22/20                   1
a152erobat              1
skybolt 300             1
Name: acft_model, Length: 7653, dtype: int64
other_model    38441
172             4756
150             2658
152             2030
182             1995
pa-28-140        830
180              771
g-164            763
t210             629
210              592
206              581
170              543
pa-28-180        498
pa-28-161        486
310              462
pa-28-181        439
pa-18-150        427
pa-38-112        426
177              406
pa-18            397
269              393
a36              359
140              347
185              340
pa-32-300        314
pa-24-250        313
pa-28r-200       292
a188             282
a185             282
421              265
pa-34-200        256
Name: acft_model, dtype: int64

In [ ]:
# column 6: 'cert_max_gr_wt'
col_metrics(ntsb_1, 'cert_max_gr_wt')
print(ntsb_1['cert_max_gr_wt'].max(), ntsb_1['cert_max_gr_wt'].min())

def weight_bins(df, col):
    avg_wt = sum(list(df[col])) / len(list(df[col]))
    wt_cat = []
    for x in list(df[col]):
        if x <= 12500:
            x = 'small'
            wt_cat.append(x)
        elif x > 12500 and x < 41000:
            x = 'medium'
            wt_cat.append(x)
        elif x == 'nan':
            if avg_wt <=12500:
                x = 'small'
                wt_cat.append(x)
            elif avg_wt > 12500 and x < 41000:
                x = 'medium'
                wt_cat.append(x)
            else:
                x = 'large commuter'
                wt_cat.append(x)
        else:
            x = 'large commuter'
            wt_cat.append(x)
    df[col] = wt_cat
    return df[col]

Unique data:  [ 3800.  1840. 14100. ... 21419.  2497.  2251.]
Value counts:  1600.0     2757
2300.0     2709
1670.0     2301
3600.0     1605
2150.0     1592
           ...
2256.0        1
4808.0        1
3470.0        1
38500.0       1
2251.0        1
Name: cert_max_gr_wt, Length: 2245, dtype: int64
Total nulls:  3410
Data type:  float64
882000.0 -3100.0

In [ ]:
# use the bin function to assign categories to weight classes
ntsb_1['cert_max_gr_wt'] = weight_bins(ntsb_1, 'cert_max_gr_wt')

In [ ]:
# column 7: 'num_eng'
col_metrics(ntsb_1, 'num_eng')

# convert the float to int and then impute the nulls with the median
ntsb_1['num_eng'] = ntsb_1['num_eng'].

Unique data:  [ 1.  2. nan  3.  4.  0.]
Value counts:  1.0    53194
2.0     7049
0.0      642
4.0       58
3.0       31
Name: num_eng, dtype: int64
Total nulls:  599
Data type:  float64

## KATHLEEN'S SECITON

In [ ]:
ntsb_2 = weight_bins(ntsb_1, 'cert_max_gr_wt')

In [ ]:
ntsb_2['cert_max_gr_wt']

0        14100.0
1         6000.0
2         5300.0
3         5121.0
4         4300.0
          ...
58683        NaN
58684        NaN
58685        NaN
58686        NaN
58687        NaN
Name: cert_max_gr_wt, Length: 58677, dtype: float64

In [ ]:
ntsb_1.columns

Index(['aircraft_ev_id', 'far_part', 'flight_plan_activated', 'damage',
       'acft_make', 'acft_model', 'cert_max_gr_wt', 'num_eng',
       'type_last_insp', 'date_last_insp', 'afm_hrs_last_insp', 'afm_hrs',
       'type_fly', 'dprt_apt_id', 'dprt_city', 'dprt_state', 'dprt_time',
       'dest_same_local', 'dest_apt_id', 'dest_city', 'dest_state',
       'phase_flt_spec', 'afm_hrs_since', 'rwy_num', 'rwy_len', 'rwy_width',
       'ifr_equipped_cert', 'eng_no', 'eng_type', 'eng_mfgr', 'hp_or_lbs',
       'carb_fuel_injection', 'eng_time_total', 'eng_time_last_insp',
       'ntsb_no', 'ev_type', 'ev_date', 'ev_dow', 'ev_time', 'ev_city',
       'ev_state', 'ev_year', 'ev_month', 'latitude', 'longitude', 'apt_name',
       'ev_nr_apt_id', 'ev_nr_apt_loc', 'apt_dist', 'apt_dir', 'apt_elev',
       'wx_src_iic', 'wx_obs_time', 'wx_obs_dir', 'wx_obs_fac_id',
       'wx_obs_elev', 'wx_obs_dist', 'light_cond', 'sky_cond_nonceil',
       'sky_nonceil_ht', 'sky_ceil_ht', 'sky_cond_ceil', 'vis_rvr', 'vis_sm',
       'wx_temp', 'wx_dew_pt', 'wind_dir_deg', 'wind_dir_ind', 'wind_vel_kts',
       'wind_vel_ind', 'gust_ind', 'gust_kts', 'altimeter', 'wx_dens_alt',
       'wx_int_precip', 'ev_highest_injury', 'inj_tot_t', 'wx_cond_basic',
       'Cause_Factor', 'crew_no', 'crew_category', 'crew_age', 'crew_sex',
       'med_certf', 'pilot_flying', 'crew_inj_level'],
      dtype='object')

In [ ]:
ntsb_raw = ntsb_raw.loc[:, ~ntsb_raw.columns.str.contains('^Unnamed')]

In [ ]:
print(ntsb_raw['damage'].unique())

In [ ]:
print(ntsb_raw['type_last_insp'].unique())

In [ ]:
ntsb_rv1 = ntsb_raw.dropna(axis=1, how='all')
#removed one column
ntsb_rv1.describe(include='all')

In [ ]:
ntsb_rv1.info()

In [ ]:

print(ntsb_rv1.dtypes)

In [ ]:
ntsb_rv1.head()

In [ ]:
print(ntsb_rv1[['ev_time']].to_string(index=False))

In [ ]:
ntsb_rv1['ev_time'] = pd.to_numeric(ntsb_rv1['ev_time'])

In [ ]:
import numpy as np
ntsb_rv1['ev_time'] = ntsb_rv1['ev_time'].astype(np.int64)

In [ ]:
nan_count = ntsb_rv1['ev_time'].isna().sum()
print(nan_count)

In [ ]:
print((ntsb_rv1['ev_time'] == 'NaN').sum())

In [ ]:
#adding leading zeros for military time format
ntsb_rv1['ev_time'] = ntsb_rv1['ev_time'].apply(lambda x: '{0:0>4}'.format(x))
print(ntsb_rv1[['ev_time']].to_string(index=False))

In [ ]:
ntsb_rv1['ev_time'] = pd.to_datetime(ntsb_rv1['ev_time'], format = '%H%m')

In [ ]:
pd.options.mode.chained_assignment = None  # default='warn'

In [ ]:
ntsb_rv1['date_last_insp'] =  pd.to_datetime(ntsb_rv1['date_last_insp'], infer_datetime_format=True)

In [ ]:
#ntsb_rv2= ntsb_rv1.drop(['Aircraft_Key'], axis=1)

In [ ]:
print(ntsb_rv1.dtypes)

In [ ]:
ntsb_rv1['wx_obs_time'] =  pd.to_datetime(ntsb_rv1['wx_obs_time'], format = "%H%M")

In [ ]:
#Walkthrough at https://inria.github.io/scikit-learn-mooc/python_scripts/03_categorical_pipeline_column_transformer.html
#preprocessing different for categorical vs numerical columns

from sklearn.compose import make_column_selector as selector

numerical_columns_selector = selector(dtype_exclude=object)
categorical_columns_selector = selector(dtype_include=object)

numerical_columns = numerical_columns_selector(ntsb_raw)
categorical_columns = categorical_columns_selector(ntsb_raw)

In [ ]:
## Starting cleaning, columns 23-45


# function to show all the metrics you will want to see for each column
#def col_metrics(df, col='none'):
#  print('Unique data: ', df[col].unique())
#  print('Value counts: ', df[col].value_counts())
#  print('Total nulls: ', df[col].isna().sum())
#  print('Data type: ', df[col].dtypes)

#work with df ntsb_1

In [13]:
#print(df.columns[2])
col_list = ntsb_1.columns[23:46]
print(col_list)

Index(['rwy_num', 'rwy_len', 'rwy_width', 'ifr_equipped_cert', 'eng_no',
       'eng_type', 'eng_mfgr', 'hp_or_lbs', 'carb_fuel_injection',
       'eng_time_total', 'eng_time_last_insp', 'ntsb_no', 'ev_type', 'ev_date',
       'ev_dow', 'ev_time', 'ev_city', 'ev_state', 'ev_year', 'ev_month',
       'latitude', 'longitude', 'apt_name'],
      dtype='object')

In [18]:
# Listing metrics for all assigned columns 

for col in col_list:
  print(ntsb_1[col].name)
  col_metrics(ntsb_1, col)

rwy_num
Unique data:  ['0' '14' '31' '20' '36' '18' '32' '27' '35' '16' '26r' '19' '28' '4r'
 '17' '34' '22' '28l' '15l' '11r' '17l' '13' '24' '10l' '9' '30r' '4' '15'
 '29' '26' '16r' '21r' '3' '9r' '25' '33' '1' '1r' '5r' '7' '12' '3r' '5'
 '30' '29r' '11' '21' '8' '10' '23' '19l' '2' '28r' '6' '36r' '26l' '14r'
 '17r' '19r' '25r' '27r' '35r' '12r' '6l' '8r' '22l' '9l' '2l' '18r' '1l'
 '32r' '36l' '34r' '29l' '31r' '22g' '27l' '20r' '11l' '8l' '22r' '34l'
 '6r' '16l' '4l' '23r' '5l' '18l' '20l' '7r' '13l' '13r' '31l' '25l' '24r'
 '23l' '24l' '35l' '21l' '30l' '12l' '20c' '7l' '33l' '30c' '36c' '32l'
 '23c' '17c' '3l' nan '3c' '2r' '33r' '15r' '10r' '360' '14l' '31c' '190'
 '9c' '250' '01' '02' '067' '09' '09r' '05' '2c' '310' '06' '0r' '00'
 '202' '08' '61' '04' '220' 'nw' '03' '315' '07' 'unk' '090' 'h1' '210'
 '160' '7u' '040' '080' '27u' '270' '180' '055' '350' '070' '030' '010'
 '01l' '050' 's' '09l' '5r7' '135' 'afo' 'gif' 'emm' '280' '110' '290'
 '2/8' '240' '320' '340' '020' '04r' '260' '08r' '34t' '04l' '120' '3 r'
 'c' 'n' '40' 'vgt' 'n/s' '130' '08l' '509' '170' '330' '230' '060' '035'
 '100' '150' 'non' '045' '01r' '200' '80' '07l' '000' 'trm' '06r' 'hka'
 '022' 'te9' '17w' 'h' '03l' '02l' '05r' '12g' '075' '8g' '09/2' '04/2'
 '05/2' '12/3' '14/3' '07/2' '03/2' '08/2' '15/3' '10/2' '11/2' '16/3'
 '18/3' '10r/' '17/3' '18r/' '02/2' '18 /' '5/23' 'e' '09c' '03r' '06l'
 '07r' '9 r' '27c' '05l' '02r' 'h2' '16c' 'none' '02c' '99' '13w' 'pvt'
 'w' '225' '9/27' 'se' '4w' '7/25' 'e/w' '16s' '07s' 'ne' '28c' 'sw'
 'west' '1/19' '34s' '22s']
Value counts:  0      19899
18      1988
27      1787
36      1703
17      1516
       ...
100        1
035        1
330        1
170        1
22s        1
Name: rwy_num, Length: 267, dtype: int64
Total nulls:  8611
Data type:  object
rwy_len
Unique data:  [  nan 2610. 2200. ... 8610. 3354. 2141.]
Value counts:  0.0       6809
5000.0    1360
3000.0    1206
4000.0    1061
2500.0     670
          ...
5275.0       1
3367.0       1
6411.0       1
3108.0       1
2141.0       1
Name: rwy_len, Length: 3281, dtype: int64
Total nulls:  21364
Data type:  float64
rwy_width
Unique data:  [      nan 4.000e+01 7.000e+01 1.000e+02 3.600e+01 7.500e+01 1.500e+02
 1.200e+02 5.000e+01 6.000e+01 3.000e+02 8.000e+01 1.530e+02 7.200e+01
 9.000e+01 3.000e+01 4.500e+01 3.500e+01 1.000e+01 2.000e+02 1.590e+02
 7.300e+01 1.750e+02 4.400e+01 6.500e+01 2.400e+01 2.500e+01 4.700e+01
 4.900e+01 6.600e+01 1.300e+02 4.800e+01 2.600e+01 1.100e+02 5.500e+01
 6.800e+01 1.600e+02 3.900e+01 4.200e+01 0.000e+00 4.300e+01 3.200e+01
 1.700e+02 2.500e+02 2.200e+01 1.250e+02 5.000e+02 8.500e+01 2.000e+01
 5.900e+01 7.700e+01 2.800e+01 1.800e+02 1.500e+01 2.090e+02 7.400e+01
 3.800e+01 1.150e+02 3.700e+01 1.400e+02 3.400e+01 1.010e+02 7.800e+01
 1.450e+02 6.200e+01 3.100e+01 2.100e+01 1.350e+02 6.100e+01 9.200e+01
 5.700e+01 1.800e+01 2.150e+02 7.100e+01 9.500e+01 1.140e+02 2.400e+02
 4.600e+01 2.100e+02 4.300e+02 1.130e+02 1.200e+01 3.300e+01 1.580e+02
 1.480e+02 2.300e+02 4.000e+02 9.600e+01 2.800e+02 9.800e+01 1.900e+02
 2.020e+02 2.700e+02 8.400e+01 2.600e+02 2.700e+01 5.100e+01 1.040e+02
 1.050e+02 1.160e+02 9.400e+01 7.600e+01 5.600e+01 2.900e+01 5.800e+01
 3.700e+02 1.340e+02 1.650e+02 1.410e+02 9.700e+01 1.600e+01 1.440e+02
 5.400e+01 1.300e+01 4.100e+01 1.950e+02 1.100e+01 5.200e+01 1.880e+02
 2.750e+02 1.830e+02 3.500e+02 1.460e+02 5.000e+00 1.080e+02 2.550e+02
 6.700e+01 2.650e+02 1.470e+02 2.300e+01 2.540e+02 2.260e+02 1.090e+02
 2.440e+02 2.200e+02 6.000e+00 1.550e+02 8.000e+00 2.050e+02 2.900e+02
 1.900e+01 1.700e+01 2.000e+00 1.020e+02 1.860e+02 8.300e+01 1.920e+02
 2.250e+02 1.850e+02 6.400e+01 2.350e+02 3.080e+02 1.330e+02 2.850e+02
 1.520e+02 6.606e+03 1.400e+01 1.760e+02 4.100e+03 4.250e+02 1.620e+02
 1.000e+03 1.500e+03 4.500e+02 1.120e+02 1.260e+02 1.320e+02 2.370e+02
 1.570e+02 3.400e+02 1.585e+03 8.800e+01 7.201e+03 1.524e+03 9.750e+02
 2.500e+03 1.367e+03 1.240e+02 2.982e+03 2.660e+03 2.120e+02 7.720e+02
 1.960e+02 1.288e+03 1.180e+02 1.583e+03 1.800e+03 8.700e+01 1.612e+03
 1.647e+03 3.750e+02 6.000e+02 9.900e+01 2.040e+02 7.850e+02 1.490e+02
 6.300e+01 9.140e+02 8.350e+02 7.900e+01 2.940e+02 4.450e+02 1.990e+02
 2.100e+03]
Value counts:  150.0     7224
0.0       7187
100.0     6520
75.0      6256
50.0      3167
          ...
425.0        1
162.0        1
112.0        1
126.0        1
2100.0       1
Name: rwy_width, Length: 203, dtype: int64
Total nulls:  22300
Data type:  float64
ifr_equipped_cert
Unique data:  [False  True]
Value counts:  False    60620
True      1085
Name: ifr_equipped_cert, dtype: int64
Total nulls:  0
Data type:  bool
eng_no
Unique data:  [ 1.  2. nan  3.  4.  5.]
Value counts:  1.0    60660
2.0      589
3.0        6
4.0        1
5.0        1
Name: eng_no, dtype: int64
Total nulls:  448
Data type:  float64
eng_type
Unique data:  ['rec' 'tp' 'tj' 'ts' 'unk' 'tf' nan 'none' 'elec' 'hr']
Value counts:  rec     55456
tp       2133
ts       2009
unk       763
tf        456
tj        273
none        7
elec        4
hr          1
Name: eng_type, dtype: int64
Total nulls:  603
Data type:  object
eng_mfgr
Unique data:  ['continental' 'lycoming' 'p&w' 'garrett' 'jacobs' 'allison' nan 'rotax'
 'turbomeca' 'warner' 'rolls-royce' 'walter' 'franklin' 'wright'
 'pzl-kalisz' 'hirth' 'volkswagen' 'rotorway' 'subaru' 'pezetel' 'unknown'
 'revmaster' 'p&w canada' 'ford' 'bombardier' 'gansheimer' 'ge'
 'chevrolet' 'grob' 'china' 'mazda' 'fairchild' 'kinner' 'bmw r-r'
 'curtis wright' 'great plains' 'ama' 'hapi' 'cameron' 'onan'
 'hirtmotoren' 'milwaukee prt' 'avro' 'allied signal' 'zenoah' 'packard'
 'venture' 'jaguar' 'pzl-rzeszow' 'vendeneyev' 'buick' 'h bouley(pma)'
 'williams intl' 'int harvester' 'arrow' 'mcculloch' 'cuyuna' 'kfm' 'cfm'
 'pzl mielec' 'lambert' 'nsi' 'kawasaki' 'amw' 'voronezh' 'jpx' 'corvair'
 'zhuzhou' 'wsk' 'shvetsov' 'honda' 'housia' 'microal' 'monnett' 'limbach'
 'mercury' 'spencer' 'klimov' 'konig' 'mosler' 'orenda' 'emsa'
 'wsk pzl kalis' 'detr. diesel' 'lom' 'ranger' 'bristol' 'airesearch'
 'teledyne cont' 'jabiru' 'yamaha' 'thruct in' 'suzuki' 'falconer eng.'
 'solo' 'volvo' 'velie' 'renault' 'gm' 'de havilland' 'garrett-airesearch'
 'iame' 'komet' 'menasco' 'merlin' 'pzl wsk' 'euzalde' 'electramotive'
 'porsche' 'stark stamo' 'avco lycoming' 'kleinmotoren' 'france' 'greth'
 'szekely' 'microturbo' 'kea' 'none' 'polaris' 'norton' 'velocity'
 'ama/expr' 'solar' 'pratt & whitney' 'honeywell' 'northrop corp'
 'aerotechnik' 'pratt & whitney canada' 'hirsh' 'teledyne continental'
 'honeywell/lyc' 'gypsy  major' 'general electric' 'allied/honeyw'
 'ivchenko' 'textron lycoming' 'textron lyc.' 'custom' 'pzl-okecie'
 'hispano suiza' 'geshwender' 'astazou' 'argus' 'artouste' 'reliant'
 'auto aviation' 'ital-american' 'johnson' 'emdair' 'packard r.r.' 'potez'
 'weslake' 'enma' 'vellie' 'liberty' 'chotia' 'elizalde,s.a.'
 'bristsidviper' 'ivchenco' 'gnome' 'omc' 'avco' 'wedtech' 'u/a canada'
 'ravenmaster' 'tgm' 'asz' 'chapallal' 'siemens halsk' 'lyco/wright'
 'aeronca' 'kohler' 'meyers' 'dq' 'robin' 'rolls-royce allison' 'â\x82¬'
 'gypsy major' 'pratt-whitney' '2si' 'aero engines' 'casa' 'curtis-wright'
 'packard rolls royce' 'gypsy minor' 'garret/honeywell'
 'rolls-royce(allison)' 'williams international' 'bmw rolls-royce'
 'lycoming (curtis-wright)' 'lycoming/honeywell' 'general motors'
 'rolls royce/allison' 'komatsu-zenagh' 'national flight service'
 'ã\x80/o' 'toyota/auto' 'garrett/honeywell' 'quantum' 'p & w'
 'continenal' 'a/c of canada' 'rolls royce' 'v.w.' 'volkswagon'
 'volkswagan' 'gypsy moth' 'general elect' 'turbomecca' 'pratt&whitney'
 'rectimo' 'contiental' 'teledyne/cont' 'vw' 'curtiswright' 'evinrude'
 'contnental' 'watson "vw"' 'briggs' 'henderson' 'contintental'
 'harold guldi' 'outboard' 'gen.electric' 'turbo meca' 'cuyana' 'lycom'
 'pratt/whitney' 'u/a of canada' 'pezatel' 'allison c' 'rw' 'o-470l'
 'ama (vw)' 'rev.' 'o-360-a4k' 'dehavilland' 'frnklin' 'lycomimg'
 'mccullock' 'airresearch' 'mccullough' 'reumaster' 'g e' 'continenatl'
 'frankin' 'unk/nr' 'unk' 'p &  w' 'moto guzzi' 'engineair power systems'
 'engineair' 'aero-vee' 'arriel' 'pratt and whitney' 'a'
 'continental motor' 'compact radial engines' 'suziair' 'lycomming'
 'walther' 'le rhone' 'stratus' 'aero engines (vw)' 't.e.c.'
 'rolls-royce corporation' 'mz' 'packer engineering' 'avia'
 'bombardier/rotax' 'mid-west engines' 'vedeheyev' 'lycon' 'mattituck'
 'alliedsignal' 'diemech (walter)' 'pzl-warszana' 'diemech turbines inc'
 'eggenfellner' 'pzl' 'gipsy major' 'motori zanzoterra' 'sauer'
 'hirthmotoren' 'zanzarterra' 'ai' 'vedeneyez' 'apex' 'verner motor'
 'ram racing engines ltd' 'hibbler' 'superior' 'aero motors'
 'experimental' 'diamond aircraft' 'eci' 'bradford haines'
 'aeromotors s.a.' 'rogers-lycoming' '1/2 volkswagen'
 'honeywell - garrett' "america's aircraft engines" 'povazske stroguarne'
 'aero vee' 'allison/rolls-royce' 'paul lee' 'superflite' 'williams'
 'yakovlev' 'jpx-pul' 'rolls royce allison' 'agin'
 'teledyne continental motors' 'teledyne' 'vedenyev' 'ultimate engines'
 'eci titan' 'honeywell aerospace' 'huosai' 'cont motor' 'limbeck'
 'thielert' 'diamond' 'vedeneyev' 'superior air parts'
 'teledyne-continental' 'wsk-pzl-k' 'covington' 'wsk pzl kalisz'
 'gypsey  major' 'chevrolot' 'pratt and whitney of canada'
 'allison engine' 'tcm' 'two stroke international' 'bombardier-rotax'
 'aero sport' 'dusenberry, mark' 'contl' 'turbo mecca'
 'continental motors' 'pratt & whitney aircraft of ca'
 'aero sport power ltd' 'xtreem 360' 'teledyne continental motor'
 'experimental tcm' 'vedeneev' 'rolls-royce turbomeca' 'heath avn'
 'hapi vw' 'jabaru' 'mistral engines, sa' 'rolls-royc'
 'contenental teledyne' 'czech' 'pratt and whitney canada' 'hks aviation'
 'swa' 'desert aircraft' 'pratt &whitney' 'pratt and whitney - canada'
 'warner super scarab' 'diemech' 'walter engine incorporated' 'suburu'
 'bombardier-rotax gmbh' 'lycoming engines' 'rotamex' 'avworks' 'chevy'
 'dehav eng' 'rotax gmbh & co.' 'rotex' 'honeywell garrett'
 'lange flugzeugbau' 'franklyn' 'bombardier rotex' 'lyc'
 'rotorway international' 'aero sport power ltd.' 'garrett airesearch'
 'pratt &  whitney' 'teledyne mattituck' 'pratt and whitnety canada'
 'ariel' 'hummel' 'geo/metro' 'teledyn continental motors' 'ul power'
 'volkswagon/great plains' 'aeroconversions' 'p & w canada' 'aerovee'
 'gm corvair' 'bombardier rotax' 'exp' 'aero sport power' 'allison (r/r)'
 'mattittuck' 'snecma' 'lycoming (modified)' 'pratt whitney canada'
 'motorlet' 'solair' 'aireasearch' 'rotec' 'allied' 'garret' 'hks'
 'aerosport power' 'nsi aero' 'volkswagoen' 'teledyne-continental motors'
 'teledye continental motors' 'national flight services inc' 'lerhone'
 'curtiss wright' 'p. ponk' 'vedenev' 'turbomeca usa' 'subuaru'
 'cfm intl.' 'cub crafters' 'jorritsma' 'penn-yan' 'curtiss'
 'teledyne continental mortors' 'teledyn continental'
 'continental motors inc.' 'rolls royce-allison' 'pratt&whitney-canada'
 'globe' 'continential motors' 'lycomin' 'garett' 'pwc' 'zanzottera'
 'falconer' 'continental motors, inc.' "continental motor's inc."
 'cont. motor' 'tmx' 'chevy geo metro' 'great plains/volkswagen'
 'compact ra' 'ken royce' 'penn yan aero' 'p&wc' 'vps' 'cfm intl'
 'continental motors, inc' 'rolls-royce deutschland' 'cfm international'
 'subaru - stratus built' 'wsk-pzl' 'chevrolet corvair' 'cubcrafters'
 'continential' 'continental (exp)' 'aero sport power (lycoming)'
 'contenental' 'fairchild ranger' 'cub crafter' 'allison / rolls royce'
 'garret airesearch' 'morris motors' 'unkn' 'wright cyclone'
 'curtis - wright' 'pratt & whitney of canada' 'pratt &whitney canada'
 'ge aviation czech' 'vendenyev' 'continental motors inc'
 'superior air parts, inc.' 'superior vantage' 'airresearch/honeywell'
 'sma' 'p/w canada' 'diemech turbine' 'shvetsoc' 'continental engines'
 'rolls royce/ allison' 'hummel engine' 'penn yann aero' 'ram' 'lom praha'
 'technoflug' 'timothy a shorey' 'tomansky' 'viking aircraft engines'
 'wankel' 'general electrics' 'mid-west' 'allison/rr'
 'rolls royce / allison' 'austro' 'national flight service, inc.'
 'viking conversion of honda' 'allison rolls royce' 'club crafters inc.'
 'adolphson' 'jpx aircraft engines' 'brn-powertrain' 'viking' 'russia'
 'continental teledyne motors' 'mccauley' 'housai' 'rolls royce (allison)'
 'patt &whitney canada' 'alllison' 'ama/expr lycoming' 'allison 250-c20b'
 'lycoiming' 'pratt& whitney' 'greatplains' 'compact radial engines inc.'
 'teledyne matituck' 'pratt & whitney-canada' 'yuneec' 'tomanski'
 'lycoming-bmw' 'continetal motors' 'aerosport / lycoming'
 'lycoming o-360-a1a' 'continental motors, inc.,' 'curtiss-wright'
 'continantal' 'rotax gmbh' 'pw&c' 'engine components internationa'
 'tyledyne continental motors' 'contental' 'great plans aircraft'
 'kinner co' 'pratt & witney' 'rotortway' 'pratt whitney'
 'brp rotax gmbh7 co. kg' 'vittorazi' 'bmw' 'pkrd-roll' 'm&d flugzeugbau'
 'cont motor p. ponk' 'cont motor/perf eng' 'garrett/airesearch' 'inntec'
 'ul' 'aerosport' 'contienental motors' 'wynn corvair'
 'ryan falconer racing engines' 'scaled composites' 'pkrd-roll royce'
 'titan' 'eggenfellner subaru' 'prat and whitney aircraft' 'ryan'
 'tubomecca' 'gmc' 'pratt & whittney' 'motorstar'
 'teledine continental motors' 'ramazani & assoc.'
 'continental motorc inc.' 'turbine power technologies' 'aeromaxx'
 'allison/rolls royce' 'honeywell / airesearch' 'aireaserch/garrett'
 'conitnental' 'honeywell/garrett' 'cont-motor' 'continenetal motors'
 'burner balloon works' 'continetnal' 'innovator technologies'
 'pratt & whitney - canada' 'vw- hummel' 'ly-con' 'continental  motors'
 'barrett precision engines' 'lycomong' 'firewall forward'
 'warner aircraft engines' '4 burner type engines' 'garrett research'
 'larry woodrow' 'continental/p. ponk' 'arrius' 'eci/titan'
 'safran helicopter engines' 'walter/ge' 'continental motor company'
 'subaru/eggenfellner' 'mazda/atkins' 'hacker a200'
 'safran (formerly turbomeca)' 'pbs' 'contenintal' 'conintental'
 'williams international company' 'burkes' 'zeonoa' 'joby motor'
 'barrett performance engine']
Value counts:  lycoming                      27685
continental                   17272
p&w                            2585
cont motor                     1871
rotax                          1749
                              ...
motori zanzoterra                 1
gipsy major                       1
diemech turbines inc              1
pzl-warszana                      1
barrett performance engine        1
Name: eng_mfgr, Length: 606, dtype: int64
Total nulls:  1224
Data type:  object
hp_or_lbs
Unique data:  ['hp' 'lbs' nan]
Value counts:  hp     57987
lbs      785
Name: hp_or_lbs, dtype: int64
Total nulls:  2933
Data type:  object
carb_fuel_injection
Unique data:  ['finj' 'carb' nan]
Value counts:  carb    37228
finj    17089
Name: carb_fuel_injection, dtype: int64
Total nulls:  7388
Data type:  object
eng_time_total
Unique data:  [  nan    0. 2830. ...  179. 3696.   68.]
Value counts:  0.0        9063
25.0          9
50.0          7
15.0          6
28.0          6
           ...
5407.0        1
9468.0        1
6492.0        1
10413.0       1
68.0          1
Name: eng_time_total, Length: 2044, dtype: int64
Total nulls:  49999
Data type:  float64
eng_time_last_insp
Unique data:  [      nan 0.000e+00 7.000e+00 3.000e+01 9.600e+01 9.000e+01 4.000e+00
 7.500e+01 2.500e+01 1.900e+01 6.000e+00 1.800e+01 8.000e+00 2.400e+01
 1.100e+01 3.500e+01 1.790e+02 5.700e+01 4.200e+01 7.100e+01 3.000e+00
 9.000e+00 1.000e+01 2.800e+01 1.000e+02 1.004e+03 2.000e+01 2.000e+00
 1.400e+01 3.600e+01 5.800e+01 1.200e+01 1.000e+00 3.900e+01 1.360e+02
 8.900e+01 3.400e+01 1.500e+01 6.100e+01 1.340e+02 5.400e+01 1.840e+02
 2.100e+01 6.815e+03 7.200e+01 2.010e+03 5.300e+01 4.700e+01 7.300e+01
 5.950e+02 1.410e+02 4.600e+01 9.700e+01 1.600e+01 4.300e+01 6.800e+01
 2.600e+01 1.700e+01 5.600e+01 5.000e+01 6.700e+01 5.000e+00 4.800e+01
 1.350e+02 3.300e+01 2.300e+01 6.000e+01 6.600e+01 5.500e+01 9.290e+02
 1.300e+01 2.000e+02 3.310e+02 1.880e+02 3.700e+01 3.800e+01 6.300e+01
 3.200e+01 3.100e+01 9.400e+01 5.136e+03 3.540e+02 7.800e+01 5.200e+01
 1.470e+02 6.200e+01 1.500e+02 7.000e+01 4.900e+01 9.900e+01 8.200e+01
 2.900e+01 8.800e+01 5.100e+01 2.790e+02 7.600e+01 1.100e+02 4.100e+01
 1.200e+02 5.590e+02 8.300e+01 3.110e+02 2.290e+02 7.400e+01 4.400e+01
 4.000e+01 2.500e+02 9.800e+01 4.290e+02 1.060e+02 4.500e+01 7.680e+02
 8.100e+01 2.100e+02 1.021e+03 8.600e+01 6.430e+02 2.490e+02 3.180e+02
 1.030e+02 2.200e+01 1.920e+02 1.040e+02 8.700e+01 2.700e+01 2.300e+02
 1.740e+02 2.320e+02 5.980e+02 8.400e+01 1.580e+02 1.070e+02 3.410e+02
 1.120e+02 8.500e+01 7.700e+01 2.480e+02 3.160e+02 6.500e+01 5.820e+02
 1.670e+02 1.010e+03 8.000e+01 1.310e+02 6.400e+01 1.140e+02 3.260e+02
 1.870e+02 1.280e+02 1.150e+02 9.100e+01 1.820e+02 6.900e+01 1.010e+02
 1.690e+02 1.160e+02 2.660e+02 9.300e+01 9.040e+02 1.700e+02 6.750e+02
 1.576e+03 1.480e+02 1.540e+02 1.770e+02 1.380e+02 2.640e+02 1.800e+02
 8.560e+02 6.110e+02 5.900e+01 1.420e+02 1.512e+03 6.940e+02 2.360e+02
 2.950e+02 3.730e+02 1.970e+02 2.240e+02 1.710e+02 8.110e+02 3.910e+02
 7.900e+01 2.540e+02 1.180e+02 3.070e+02 2.700e+02 3.480e+02 2.130e+02
 1.300e+02 9.200e+01 1.400e+02 5.160e+02 1.103e+03 1.080e+02 1.110e+02
 1.251e+03 1.290e+03 2.899e+03 2.590e+02 1.130e+02 9.850e+02 1.260e+03
 3.350e+02 2.460e+03 6.930e+03 1.210e+04 5.150e+02 3.950e+02 2.088e+03
 1.650e+02 9.330e+02 1.190e+02 9.500e+01 1.320e+02 4.602e+03 1.210e+02
 4.500e+02 4.654e+03 2.040e+02 5.610e+02 3.010e+02 2.874e+03 1.220e+02
 8.050e+02 8.760e+02 2.120e+02 1.020e+02 1.673e+03 1.815e+03 2.850e+03
 1.215e+03 5.140e+02 6.710e+02 3.430e+02 1.680e+02 1.490e+02 1.730e+03
 1.050e+02 1.149e+03 1.356e+03 1.615e+03 2.220e+02 6.600e+02 7.960e+02
 1.154e+03 6.050e+02 1.060e+03 5.520e+02 3.762e+03 2.840e+02 5.960e+02
 2.690e+02 9.180e+02 1.994e+03 1.630e+02 6.410e+02 1.533e+03 3.060e+02
 3.250e+02 1.750e+02 4.450e+02 4.810e+03 3.000e+02 7.190e+02 1.640e+02
 5.040e+02 2.192e+03 1.320e+03 3.330e+02 1.230e+02 2.650e+02 3.357e+03
 3.005e+03 1.170e+02 1.308e+03 2.245e+03 8.280e+02 4.750e+02]
Value counts:  0.0      9542
10.0       86
1.0        70
2.0        69
5.0        62
         ...
197.0       1
373.0       1
295.0       1
236.0       1
475.0       1
Name: eng_time_last_insp, Length: 278, dtype: int64
Total nulls:  49999
Data type:  float64
ntsb_no
Unique data:  ['anc99fa021' 'anc99la023' 'anc99la024' ... 'cen16ca277' 'cen16la281'
 'wpr16fa148']
Value counts:  anc99fa021    1
sea82da053    1
anc82da047    1
anc82da049    1
anc82da050    1
             ..
den89la005    1
den89la006    1
den89la008    1
den89la011    1
wpr16fa148    1
Name: ntsb_no, Length: 61705, dtype: int64
Total nulls:  0
Data type:  object
ev_type
Unique data:  ['acc' 'inc']
Value counts:  acc    60734
inc      971
Name: ev_type, dtype: int64
Total nulls:  0
Data type:  object
ev_date
Unique data:  ['1/10/1999' '1/12/1999' '1/13/1999' ... '04-aug-16' '22-jul-16'
 '23-jul-16']
Value counts:  5/16/1982    25
6/30/1984    25
8/7/1988     23
6/5/1983     22
8/5/1983     22
             ..
12/2/2000     1
07-dec-09     1
2/5/2004      1
13-nov-09     1
23-jul-16     1
Name: ev_date, Length: 12418, dtype: int64
Total nulls:  0
Data type:  object
ev_dow
Unique data:  ['su' 'tu' 'we' 'th' 'sa' 'fr' 'mo']
Value counts:  sa    11969
su    10976
fr     8901
th     7804
we     7609
mo     7318
tu     7128
Name: ev_dow, dtype: int64
Total nulls:  0
Data type:  object
ev_time
Unique data:  [1330. 1050. 1435. ...  242.  313.  322.]
Value counts:  1500.0    1110
1630.0    1035
1400.0    1030
1530.0    1024
1600.0    1022
          ...
80.0         1
549.0        1
338.0        1
222.0        1
322.0        1
Name: ev_time, Length: 1409, dtype: int64
Total nulls:  31
Data type:  float64
ev_city
Unique data:  ['quinhagak' 'chevak' 'anchorage' ... 'ishpeming' 'westwood' 'zamora']
Value counts:  anchorage          380

Plans for columns: <br>
'rwy_num': Not sure... should we leave this? Or maybe join airport and runway number? <br>
'rwy_len': bucketize lengths<br>
'rwy_width': format number (currently scientific), then bucketize widths<br>
'ifr_equipped_cert': Good as is.<br>
'eng_no': Remove 448 nulls?<br>
'eng_type': Not sure what this is referring to.. need to spell these out when I figure it out... thinking 'elec' is electric.. <br>
'eng_mfgr': Consolidate engine manufacturers (i.e. gm and general motors)<br>
'hp_or_lbs': Change dtype from int64 to string, also, is this needed?<br>
'carb_fuel_injection': Change dtype from int64 to string <br>
'eng_time_total': bucketize hours<br>
'eng_time_last_insp': format number (currently scientific), then bucketize<br>
'ntsb_no': remove<br>
'ev_type': Change dtype from int64 to string <br>
'ev_date': convert dtype to datetime (date mm/dd/yyy)<br>
'ev_dow': Change dtype from int64 to string, make sure these are ordered categories<br>
'ev_time': format time dtype, take a look at bucketizing by hour<br>
'ev_city':  Change dtype from int64 to string <br>
'ev_state':  Change dtype from int64 to string, ensure all reflect a US state<br>
'ev_year': Remove? Unless an airport is more risky during different time periods which might be possible<br>
'ev_month': Ensure ordered list reflecting months <br>
'latitude': convert dtype to VARCHAR or DOUBLE. also maybe.... "You can use clustering algorithm like k-Nearest Neighbor algorithm to group your geo-location data (using a small number of potential clusters) and assign each cluster or a group a unique id. These unique id can then replace your latitude and longitude column."<br>
'longitude': see lat<br>
'apt_name': compare against airport list, consolidate private and private airstrip, and private strip

In [ ]:
# the columns to be used to create the labels are: inj_tot_t, damage, crew_inj_level, ev_highest_injury, damage

## ERICK'S SECITON

### CHI'S SECTION