In [ ]:
import pandas as pd

#read data in from file without headers using \t as seperator
df = pd.read_csv('C:/Users/erick/OneDrive/Desktop/ASRS_2020_2022.txt', sep = '\t', header = None)

In [ ]:
#check the file was read in correctly
df.head()

In [ ]:
#remove row 0 of file due to redundant explination of headers
df = df.iloc[1:]

In [ ]:
#Assign row 1 as headers of the df
df.columns = df.iloc[0].values

In [ ]:
#remove row 1 and row 2. Row 1 data was made into header and Row 2 is blank.
df.drop(index=[1,2], inplace = True)

In [ ]:
#reset index count in df
df.reset_index(drop = True, inplace = True)

In [ ]:
#remove columns that are made up of NaN data from df
df = df.dropna(axis='columns', how ='all')

In [ ]:
#learning about data in df
df.info()

In [ ]:
#remove columns named nan
df.drop(df.columns[[18,27,28,29,30,31,32,33,34,35,36,37,38,39,40,42,52,85,87,88,89]], axis=1, inplace=True)

In [ ]:
#checking data in df again
df.info()