# NTSB Notebook #1: data joining and initial cleaning

### Import pandas, data and config

In [1]:
import pandas as pd

In [2]:
# configure pandas settings
pd.options.display.max_info_columns = 120

In [3]:
# read in post 2008 data
df_new = pd.read_csv('ntsb_post_2008.csv')

C:\Users\htwal\AppData\Local\Temp\ipykernel_13336\1361939574.py:2: DtypeWarning: Columns (84) have mixed types. Specify dtype option on import or set low_memory=False.
  df_new = pd.read_csv('ntsb_post_2008.csv')

In [4]:
df_new.shape

(65534, 109)

In [5]:
# read in pre-2008 data
df_old = pd.read_csv('NTSB_pre_2008.csv')

C:\Users\htwal\AppData\Local\Temp\ipykernel_13336\595044911.py:2: DtypeWarning: Columns (2,16,23,25,49,50,83,84,95,97,98,101,103,104,105,106,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df_old = pd.read_csv('NTSB_pre_2008.csv')

In [6]:
df_old.shape

(66857, 109)

### Join both dataframes

In [7]:
# check to see if the columns from both dataframes are identical
col_compare = list(zip(df_old.columns, df_new.columns))

for x in col_compare:
    if x[0] != x[1]:
        print(x)

('aircraft_ev_id', 'aircraft.ev_id')
('engines_ev_id', 'engines.ev_id')
('events_ev_id', 'events.ev_id')
('Findings_ev_id', 'Findings.ev_id')
('Flight_Crew_ev_id', 'Flight_Crew.ev_id')

In [8]:
# fix the column labels
new_labels = [x.replace('.', '_') for x in list(df_new.columns)]

# create mapper:
label_map = dict(zip(df_new.columns, new_labels))

In [9]:
df_new = df_new.rename(columns=label_map)

In [10]:
# validate column rename worked
col_compare = list(zip(df_old.columns, df_new.columns))

for x in col_compare:
    if x[0] != x[1]:
        print(x)

In [11]:
# concatenate both data sets
df = pd.concat([df_old, df_new])

In [12]:
# concatenated df shape
df.shape

(132391, 109)

### Filter by far_part

In [13]:
# view all part data in df
df['far_part'].value_counts()

091     103229
121       7654
135       6551
137       5800
NUSN      2230
PUBU      1615
NUSC      1553
129       1399
133        583
UNK        514
103        207
091K       124
125         77
ARMF        73
091F        40
437         14
107          5
Name: far_part, dtype: int64

In [14]:
# filter out part 121, 125, 129, UNK, 133, , NUSN, PUBU, NUSC, 107
mask = ['121', '125', '129', 'UNK', '133', 'NUSN', 'PUBU', 'NUSC', '107']
df = df[~df['far_part'].isin(mask)]

In [15]:
# drop irrelevant columns or very high null counts
df = df.drop(['metar', 'fuel_on_board', 'dest_country', 'dprt_country', 'crew_res_state', 'crew_city', 'Findings_ev_id',
              'Flight_Crew_ev_id', 'Flight_Crew_Aircraft_Key', 'Findings_Aircraft_Key', 'vis_rvv', 'wx_obs_tmzn', 
              'inj_f_grnd', 'inj_m_grnd', 'inj_s_grnd', 'inj_tot_f', 'inj_tot_m', 'inj_tot_n','inj_tot_s', 'dprt_timezn',
              'wx_brief_comp'], axis=1)

In [16]:
#filter out records where the phase was not taxt or inflight
phase_mask = [0.0, 610.0, 600.0, 500.0, 501.0, 502.0, 503.0, 504.0, 505.0] 
df = df[~df['phase_flt_spec'].isin(phase_mask)]

In [22]:
# drop all records that do not have at least 60 columns worth of data in them
df1 = df.dropna(thresh=60)

In [23]:
df1.shape

(104120, 88)

In [28]:
df1['ev_highest_injury'].value_counts()

NONE    54732
FATL    23655
MINR    14807
SERS    10839
Name: ev_highest_injury, dtype: int64

In [25]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104120 entries, 0 to 65533
Data columns (total 88 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   aircraft_ev_id         104120 non-null  object
 1   far_part               104120 non-null  object
 2   flight_plan_activated  45517 non-null   object
 3   damage                 103326 non-null  object
 4   acft_make              104108 non-null  object
 5   acft_model             104096 non-null  object
 6   cert_max_gr_wt         93685 non-null   float64
 7   num_eng                102746 non-null  float64
 8   type_last_insp         99030 non-null   object
 9   date_last_insp         83764 non-null   object
 10  afm_hrs_last_insp      58888 non-null   float64
 11  afm_hrs                84919 non-null   float64
 12  type_fly               100532 non-null  object
 13  dprt_apt_id            85958 non-null   object
 14  dprt_city              88866 non-null   object
 15  dprt_state             89162 non-null   object
 16  dprt_time              94605 non-null   float64
 17  dest_same_local        34112 non-null   object
 18  dest_apt_id            71722 non-null   object
 19  dest_city              74822 non-null   object
 20  dest_state             75078 non-null   object
 21  phase_flt_spec         51969 non-null   float64
 22  afm_hrs_since          59743 non-null   object
 23  rwy_num                77801 non-null   object
 24  rwy_len                64245 non-null   float64
 25  rwy_width              63263 non-null   float64
 26  ifr_equipped_cert      104120 non-null  bool
 27  engines_ev_id          103670 non-null  object
 28  eng_no                 103670 non-null  float64
 29  eng_type               103258 non-null  object
 30  eng_mfgr               102470 non-null  object
 31  hp_or_lbs              98580 non-null   object
 32  carb_fuel_injection    86604 non-null   object
 33  eng_time_total         51578 non-null   float64
 34  eng_time_last_insp     51578 non-null   float64
 35  events_ev_id           104120 non-null  object
 36  ntsb_no                104120 non-null  object
 37  ev_type                104120 non-null  object
 38  ev_date                104120 non-null  object
 39  ev_dow                 104120 non-null  object
 40  ev_time                104035 non-null  float64
 41  ev_city                104114 non-null  object
 42  ev_state               103812 non-null  object
 43  ev_year                104120 non-null  int64
 44  ev_month               104120 non-null  int64
 45  latitude               60230 non-null   object
 46  longitude              60231 non-null   object
 47  apt_name               72793 non-null   object
 48  ev_nr_apt_id           69801 non-null   object
 49  ev_nr_apt_loc          102547 non-null  object
 50  apt_dist               87657 non-null   float64
 51  apt_dir                46753 non-null   float64
 52  apt_elev               74371 non-null   float64
 53  wx_src_iic             102501 non-null  object
 54  wx_obs_time            98591 non-null   float64
 55  wx_obs_dir             101520 non-null  float64
 56  wx_obs_fac_id          82383 non-null   object
 57  wx_obs_elev            94869 non-null   float64
 58  wx_obs_dist            101940 non-null  float64
 59  light_cond             103997 non-null  object
 60  sky_cond_nonceil       94823 non-null   object
 61  sky_nonceil_ht         97868 non-null   float64
 62  sky_ceil_ht            97549 non-null   float64
 63  sky_cond_ceil          100149 non-null  object
 64  vis_rvr                42792 non-null   float64
 65  vis_sm                 102787 non-null  float64
 66  wx_temp                100236 non-null  float64
 67  wx_dew_pt              92593 non-null   float64
 68  wind_dir_deg           102898 non-null  float64
 69  wind_dir_ind           103617 non-null  object
 70  wind_vel_kts           93150 non-null   float64
 71  wind_vel_ind           104079 non-null  object
 72  gust_ind               104100 non-null  object
 73  gust_kts               96906 non-null   float64
 74  altimeter              91137 non-null   float64
 75  wx_dens_alt            19070 non-null   float64
 76  wx_int_precip          42863 non-null   object
 77  ev_highest_injury      104033 non-null  object
 78  inj_tot_t              76097 non-null   float64
 79  wx_cond_basic          104078 non-null  object
 80  Cause_Factor           43521 non-null   object
 81  crew_no                51448 non-null   float64
 82  crew_category          50990 non-null   object
 83  crew_age               49235 non-null   float64
 84  crew_sex               37326 non-null   object
 85  med_certf              48872 non-null   object
 86  pilot_flying           103551 non-null  object
 87  crew_inj_level         50327 non-null   object
dtypes: bool(1), float64(33), int64(2), object(52)
memory usage: 70.0+ MB

In [18]:
# save this version of the data
df1.to_csv('NTSB_for_cleaning.csv')

### Outcome columns for labeling purposes

In [27]:
# the columns to be used to create the labels are: inj_tot_t, damage, crew_inj_level, ev_highest_injury